<app-step1 *ngIf="currentStep == 1" [form]="stepsFormGroup[1]" [previous]="previousStep.bind(this)"
  [next]="nextStep.bind(this)"></app-step1>
<app-step2 *ngIf="currentStep == 2" [form]="stepsFormGroup[2]" [previous]="previousStep.bind(this)"
  [next]="nextStep.bind(this)"></app-step2>
<app-step3 *ngIf="currentStep == 3" [form]="stepsFormGroup[3]" [previous]="previousStep.bind(this)"
  [next]="nextStep.bind(this)"></app-step3>
<app-step4 *ngIf="currentStep == 4" [form]="stepsFormGroup[4]" [previous]="previousStep.bind(this)"
  [next]="nextStep.bind(this)" [sellerId]="sellerId"></app-step4>
<app-step5 *ngIf="currentStep == 5" [form]="stepsFormGroup[5]" [previous]="previousStep.bind(this)"
  [next]="nextStep.bind(this)" [sync]="sync"></app-step5>

<ion-footer *ngIf="currentStep != 4" lines="none" class="ion-no-border">
  <ion-item lines="none" class="continue-buttom-container">
    <ng-container [ngSwitch]="currentStep">

      <ion-button *ngSwitchDefault [disabled]="formInvalid() || loading['nextStep']" (click)="nextStep()" class="continue-buttom" expand="block">
        <ion-spinner *ngIf="loading['nextStep']; else label" name="crescent"></ion-spinner>
          <ng-template #label>
            Continuar cadastro
            <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
          </ng-template>
      </ion-button>

      <ion-button *ngSwitchCase="5" [disabled]="formInvalid() || loading['finish']" (click)="finish()" class="continue-buttom" expand="block">
        <ion-spinner *ngIf="loading['finish']; else finishLabel" name="crescent"></ion-spinner>
          <ng-template #finishLabel>
            <ion-icon slot="start" name="checkmark-outline"></ion-icon>
            Finalizar cadastro
          </ng-template>
       
      </ion-button>

    </ng-container>
   
  </ion-item>
  <ion-item lines="none" *ngIf="currentStep == 1">
    <ion-label class="footer-description">Entrar com minha conta</ion-label>
  </ion-item>
</ion-footer>