<ion-header no-border>
  <div class="asm-header">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-icon (click)="goBack()" role="button" name="arrow-back-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-title><b>{{title}}</b></ion-title></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="description-configuration">
          <ion-label class="ion-text-wrap">{{instructionDesc}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="ion-toggle-row">
        <ion-col size="1" class="description-configuration">
          <ion-skeleton-text *ngIf="loading[loadingKeys.message]; else SwitchControl" class="loading-toggle"
            [animated]="true"></ion-skeleton-text>
          <ng-template #SwitchControl>
            <ion-toggle [(ngModel)]="message.activated"></ion-toggle>
          </ng-template>
        </ion-col>
        <ion-col>
          <ion-skeleton-text *ngIf="loading[loadingKeys.message]; else SwitchLabel" class="loading-toggle-text"
            [animated]="true"></ion-skeleton-text>
          <ng-template #SwitchLabel>
            <ion-label>{{getSwitchLabel()}}</ion-label>
          </ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-header>
<ion-content scrollY="true">
  <ion-list class="edit-message" lines="none">
    <ion-item class="item-background-color header-item">
      <ion-title>Escreva a mensagem</ion-title>
      <div class="edit-msg-icon-container">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon (click)="presentPopover($event)" name="pricetag"></ion-icon>
        <ion-icon (click)="openAttachmentModal()" name="attach-outline"></ion-icon>
      </div>
    </ion-item>
    <div class="horizontal-line"></div>
    <ion-item class="item-background-color footer-item">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="editor">
              <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
              <div class="horizontal-line"></div>
              <ngx-editor [placeholder]="placeholder" [editor]="editor"></ngx-editor>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item class="save-message-button-container">
      <ion-button class="save-message-button " [disabled]="loading['message'] || loading[loadingKeys.button]"
        expand="block" (click)="save()">
        <div *ngIf="!loading[loadingKeys.button]">Salvar alterações</div>
        <ion-spinner *ngIf="loading[loadingKeys.button]"></ion-spinner>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-list-header>
          <h4 class="mention-header">@Menções</h4>
        </ion-list-header>
        <ion-item>
          <ion-label>
            <h2><span class="prosemirror-mention-node">@PRODUTO</span></h2>
            <p>Menciona o nome do produto.</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2><span class="prosemirror-mention-node">@COMPRADOR</span></h2>
            <p>Menciona o nome do comprador.</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2><span class="prosemirror-mention-node">@RASTREIO</span></h2>
            <p>Menciona o código de rastreamento.</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>