<ion-content class="bg-white" scrollY="true">
    <ion-list class="anexo" lines="none">
        <ion-item class="item-background-color header-item">
            <ion-title>Anexos</ion-title>
            <div class="edit-msg-icon-container">
                <div style="display: flex;">
                    <ion-icon (click)="modalController.dismiss()" style="padding: 3px;border-radius: 18px;
                    color: #f7f7f7;
                    background-color: #959090;"
                    name="close"></ion-icon>
                </div>
            </div>
        </ion-item>
        <div class="horizontal-line"></div>
        <ion-item class="item-background-color footer-item bg-white" style="max-height: 300px; min-height: 300px; overflow: auto;">
            <div class="attachment-content-container" style="width: 100%;">
                <ion-item class="border-bottom" *ngFor="let item of [].constructor(3); let index = index;" lines="none">
                    <ion-icon name="document" slot="start"></ion-icon>
                    <ion-label>
                        <h3>file{{index + 1}}.pdf</h3>
                        <p>{{(3 * (index + 1))}}MB</p>
                    </ion-label>
                    <ion-icon color="danger" name="trash" slot="end"></ion-icon>
                </ion-item>
            </div>
        </ion-item>
        <ion-item class="save-message-button-container bg-white">

            <ion-button (click)="upload()" class="save-message-button " expand="block">
                Carregar Arquivo
                <ion-icon slot="end" name="cloud-upload"></ion-icon>
              </ion-button>
        </ion-item>
    </ion-list>
</ion-content>