<ion-header no-border>
  <div class="asm-header">
    <ion-grid>
      <ion-row>
        <ion-col><ion-title><b>Olá, {{sellerInfo.firstName}}</b></ion-title></ion-col>
        <ion-col size="2"><ion-icon role="button" (click)="navigateTo('/settings')"
            name="settings"></ion-icon></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-title style="font-size: 10pt">Conta do Mercado Livre vinculada:</ion-title></ion-col>
      </ion-row>
      <ion-row class="box-account">
        <ion-col size="2" size-sm="1" size-md="auto" size-lg="auto" style="display: flex;">
          <seller-avatar [url]="meliSellerInfo()?.thumbnail?.picture_url"></seller-avatar>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-label *ngIf="meliSellerInfo()?.nickname">{{meliSellerInfo()?.nickname}}</ion-label>
            <ion-skeleton-text *ngIf="!meliSellerInfo()?.nickname" style="width: 174px; border-radius: 6px;"
              [animated]="true"></ion-skeleton-text>
          </ion-row>
          <ion-row *ngIf="meliSellerInfo()?.produtosCount != 0">
            <ion-skeleton-text *ngIf="!meliSellerInfo()?.produtosCount" style="width: 70px; border-radius: 6px;"
              [animated]="true"></ion-skeleton-text>
            <ion-label *ngIf="meliSellerInfo()?.produtosCount"
              style="color: #565656">{{meliSellerInfo()?.produtosCount}} Produtos</ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-header>

<ion-content scrollY="true" slot="fixed" [fullscreen]="true">
  <ion-list class="messages-container" lines="none">
    <div style="display: flex; flex-direction: column; height: 100%; margin: auto;">
      <ion-item>
        <ion-label>Configure as mensagens que seus clientes recebem de acordo com o status da venda</ion-label>
      </ion-item>
      <div>
        <ion-item [routerLink]="['edit', '0']" class="item-background-color">
          <ion-grid>
            <ion-row class="row-border" [style]="(messageActivated(0) ? '' : 'border-color: rgb(158, 2, 2);')">
              <ion-col size="2" size-sm="1" size-md="auto" size-lg="auto">
                <div class="icon-container">
                  <ion-icon name="bag-handle"></ion-icon>
                </div>
              </ion-col>
              <ion-col class="message-title">
                <ion-label>Compra realizada</ion-label>
                <ion-skeleton-text *ngIf="loading['sellerInfo']"></ion-skeleton-text>
                <p *ngIf="!loading['sellerInfo']" [style]="(messageActivated(0) ? '' : 'color: rgb(158, 2, 2);')">
                  {{messageActivated(0) ? 'Ativo' : 'Inativo'}}</p>
              </ion-col>
              <ion-col size="1" class="edit-container">
                <ion-icon src="assets/icon/pencil.svg"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-label class="item-desc">
                <div class="desc">Seu comprador receberá a mensagem assim que efetuar uma compra.</div>
                <!-- <b>Ex:</b> Olá <span>@Comprador</span>! Acabei de receber seu pedido!-->
              </ion-label>
            </ion-row>
          </ion-grid>
        </ion-item>
        <div class="message-divider">
          <ion-icon class="path-icon" src="assets/icon/path.svg"></ion-icon>
        </div>
        <ion-item [routerLink]="['edit', '1']" class="item-background-color">
          <ion-grid>
            <ion-row class="row-border" [style]="(messageActivated(1) ? '' : 'border-color: rgb(158, 2, 2);')">
              <ion-col size="2" size-sm="1" size-md="auto" size-lg="auto">
                <div class="icon-container">
                  <ion-icon src="assets/icon/truck.svg"></ion-icon>
                </div>
              </ion-col>
              <ion-col class="message-title">
                <ion-label>Pedido a caminho</ion-label>
                <ion-skeleton-text *ngIf="loading['sellerInfo']"></ion-skeleton-text>
                <p *ngIf="!loading['sellerInfo']" [style]="(messageActivated(1) ? '' : 'color: rgb(158, 2, 2);')">{{messageActivated(1) ?
                  'Ativo'
                  : 'Inativo'}}</p>
              </ion-col>
              <ion-col size="1" class="edit-container">
                <ion-icon src="assets/icon/pencil.svg"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-label class="item-desc">
                <div class="desc">Seu comprador receberá a mensagem assim que o pedido sair para entrega.</div>
                <!-- <b>Ex:</b> Seu <span>@Produto</span> acabou de sair para entrega. -->
              </ion-label>
            </ion-row>
          </ion-grid>
        </ion-item>
        <div class="message-divider">
          <ion-icon class="path-icon" src="assets/icon/path.svg"></ion-icon>
        </div>
        <ion-item [routerLink]="['edit', '2']" class="item-background-color">
          <ion-grid>
            <ion-row class="row-border" [style]="(messageActivated(2) ? '' : 'border-color: rgb(158, 2, 2);')">
              <ion-col size="2" size-sm="1" size-md="auto" size-lg="auto">
                <div class="icon-container">
                  <ion-icon src="assets/icon/box.svg"></ion-icon>
                </div>
              </ion-col>
              <ion-col class="message-title">
                <ion-label>Pedido entregue</ion-label>
                <ion-skeleton-text *ngIf="loading['sellerInfo']"></ion-skeleton-text>
                <p *ngIf="!loading['sellerInfo']" [style]="(messageActivated(2) ? '' : 'color: rgb(158, 2, 2);')">{{messageActivated(2) ?
                  'Ativo'
                  : 'Inativo'}}</p>
              </ion-col>
              <ion-col size="1" class="edit-container">
                <ion-icon src="assets/icon/pencil.svg"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-label class="item-desc">
                <div class="desc">Seu comprador receberá a mensagem assim que o pedido for entregue.</div>
                <!-- <b>Ex:</b> <span>@Comprador</span> esperamos que você desfrute do seu novo produto.-->
              </ion-label>
            </ion-row>
          </ion-grid>
        </ion-item>
      </div>
    </div>
  </ion-list>
</ion-content>