<ion-header no-border>
  <ion-grid>
    <ion-row class="image">
      <ion-col>
        <vendly-logo [innerStyle]="'width: 120px'"></vendly-logo>
      </ion-col>
    </ion-row>
    <ion-row class="title">
      <ion-col>
        <ion-title>{{_title}}</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-label>{{_description}}</ion-label>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content lines="none">
  <subscriptionplan-list (onSelectedPlan)="getPaymentLink($event)"></subscriptionplan-list>
</ion-content>
<ion-footer *ngIf="false" lines="none" class="ion-no-border">
  <label>Deseja utilizar outra conta? </label>
  <label (click)="logout()" class="link">Encerrar sessão.</label>
</ion-footer>