<ion-header no-border>
  <div class="asm-header">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-icon (click)="goBack()" role="button" name="arrow-back-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-title><b>Minha Conta</b></ion-title></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="description-configuration">
          <ion-label class="ion-text-wrap">Configurações de nome, e-mail e senha</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item class="item-background-color">
      <ion-col size="2">
        <ion-label class="item-settings-label">Nome</ion-label>
      </ion-col>
      <ion-col>
        <ion-label class="item-setting-value ion-text-wrap">{{sellerInfo?.firstName}} {{sellerInfo?.lastName}}</ion-label>
      </ion-col>
    </ion-item>
    <div class="horizontal-line"></div>
    <ion-item class="item-background-color">
      <ion-col size="2">
        <ion-label class="item-settings-label">E-mail</ion-label>
      </ion-col>
      <ion-col>
        <ion-label class="item-setting-value ion-text-wrap">{{sellerInfo?.email}}</ion-label>
      </ion-col>
    </ion-item>
    <div class="horizontal-line"></div>
    <ion-item (click)="changePassword()" class="last-item item-background-color">
      <ion-col size="2">
        <ion-label class="item-settings-label">Senha</ion-label>
      </ion-col>
      <ion-col>
        <ion-label class="item-setting-value">Alterar senha</ion-label>
      </ion-col>
    </ion-item>

    <ion-item *ngIf="true" class="item-background-color delete-account-container">
      <ion-label>
        <ion-label><b>Deletar conta</b></ion-label>
        <p>Esta ação não apagará as contas vinculadas do Mercado Livre.</p>
        <div class="delete-account-button-container">
          <button [disabled]="loading['delete']" (click)="deleteAccount()" class="delete-account-button">
            <div *ngIf="!loading['delete']">Deletar conta</div>
            <ion-spinner *ngIf="loading['delete']"></ion-spinner>
          </button>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>