ion-header::after {
    background-image: none;
}

ion-content {
    background-color: var(--background-gray);
}

.asm-header {
    height: 123px;
    background-color: var(--background-gray);


    ion-grid,
    ion-row,
    ion-col {
        padding-left: 0px;
        padding-right: 0px;
        margin: auto;
    }

    .description-configuration {
        margin-left: 20px;
        margin-right: 20px;
    
        ion-label{
            padding: 0px;
            font-size: 9pt;
            font-weight: 400;
            color: #565656;
        }
        
    }

    ion-label {
        font-size: 10pt;
        padding: 2px;
    }

    ion-icon {
        color: #2D2D2D;
        float: left;
        font-size: 18pt;
        padding-left: 20px;

    }
}

ion-title,
ion-label {
    color: #2D2D2D
}

.item-background-color {
    --ion-item-background: var(--background-white);
}

ion-item {
    ion-icon {
        color: #2D2D2D;
    }

    ion-label {

        .item-name {
            margin-bottom: 6px;
        }

        p {
            font-size: 10pt;
            margin-top: 5px;
        }

    }
}

.horizontal-line {
    background-color: var(--background-gray);
    height: 1px;
}

.last-item {
    margin-bottom: 11px;
}

.logout-account-button-container {
    width: 50%;
    float: right;
    margin: auto;
    margin-top: 20px;
}

.logout-account-button {
    width: 80%;
    float: right;
    height: 33px;
    text-transform: inherit;
    --border-radius: 10px;
    --border-width: 1px;
    --height: 20px;
    --font-size: 10pt;
}