<div class="container-loading-horizontal-items">
    <ion-skeleton-text class="loading-horizontal-items" [animated]="true"></ion-skeleton-text>
    <ion-skeleton-text class="loading-horizontal-items" [animated]="true"></ion-skeleton-text>
    <ion-skeleton-text class="loading-horizontal-items" [animated]="true"></ion-skeleton-text>
    <ion-skeleton-text class="loading-horizontal-items" [animated]="true"></ion-skeleton-text>
    <ion-skeleton-text class="loading-horizontal-items" [animated]="true"></ion-skeleton-text>
    <ion-skeleton-text class="loading-horizontal-items" [animated]="true"></ion-skeleton-text>
    <ion-skeleton-text class="loading-horizontal-items" [animated]="true"></ion-skeleton-text>
</div>