ion-header::after {
    background-image: none;
}

ion-content {
    background-color: var(--background-gray);
}

.asm-header {
    height: 135px;
    background-color: var(--background-gray);

    ion-grid,
    ion-row,
    ion-col {
        padding-left: 0px;
        padding-right: 0px;
        margin: auto;
    }

    ion-label {
        font-size: 10pt;
        padding: 2px;
    }

    ion-icon {
        color: #2D2D2D;
        float: left;
        font-size: 18pt;
        padding-left: 20px;

    }
}

ion-title,
ion-label,
li {
    color: #2D2D2D
}

li {
    font-size: 10pt;
    font-weight: 400;
    color: #565656;
}

ul {
    margin: auto;
    margin-bottom: 30px;
}

.item-background-color {
    --ion-item-background: var(--background-white);
}

ion-item {

    ion-label {
       // padding-bottom: 14px;
        padding-top: 0px;
        margin-bottom: 7px;
        font-size: 15pt;
        color: #565656;
        font-weight: 500;

    }
}

.password-input {
    border: 1px solid #7a7a7a;
    border-radius: 7px;
    padding: 5px!important;
    padding-left: 12px!important;
    margin-bottom: 13px;
}

.button-botom {
    width: 90%;
    margin: auto;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;

    ion-button {
        font-size: 11pt;
        height: 50px;
        text-transform: inherit;
        --background: #3B3F4C;
        --border-radius: 10px;
    }
}

