<ion-header no-border>
  <div class="asm-header">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-icon (click)="goBack()" role="button" name="arrow-back-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-title><b>Alterar senha</b></ion-title></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ul>
            <li>Use no mínimo 8 caracteres</li>
            <li>Um número</li>
            <li>Um caractere especial</li>
          </ul>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item lines="none" class="item-background-color">
      <ion-label position="stacked">Senha atual</ion-label>
      <app-show-hide-password class="password-input">
        <ion-input type="password" placeholder="Digite sua senha atual"></ion-input>
      </app-show-hide-password>
    </ion-item>
    <div class="horizontal-line"></div>
    <ion-item lines="none" class="item-background-color">
      <ion-label position="stacked">Nova senha</ion-label>
      <app-show-hide-password class="password-input">
        <ion-input type="password" placeholder="Digite sua nova senha"></ion-input>
      </app-show-hide-password>
      <ion-note slot="error">Invalid password</ion-note>
    </ion-item>
    <div class="horizontal-line"></div>
    <ion-item lines="none" class="item-background-color">
      <ion-label position="stacked">Confirme a nova senha</ion-label>
      <app-show-hide-password class="password-input">
        <ion-input minlength="8" type="password" placeholder="Digite sua nova senha"></ion-input>
      </app-show-hide-password>
      <ion-note slot="error">Invalid password</ion-note>
    </ion-item>
    <div class="horizontal-line"></div>
  </ion-list>
  <div class="button-botom">
    <ion-button>Salvar senha</ion-button>
  </div>
</ion-content>