<ion-content scrollY="false" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="center-grid">
    <ion-row>
      <ion-col size="12">
        <ion-card style="background-color: #dfd81400; box-shadow: none; border-radius: 25px;"
          class="ion-text-center ion-align-self-stretch">
          <ion-card-header>
            <meli-logo></meli-logo>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-item>
                <ion-label>Email</ion-label>
                <ion-input type="email" placeholder="usuario@exemplo.com" [(ngModel)]="email"></ion-input>
              </ion-item>
            </ion-row>
            <ion-row>
              <ion-item>
                <ion-label>Senha</ion-label>
                <ion-input type="password" placeholder="****" [(ngModel)]="password"></ion-input>
              </ion-item>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-button (click)="login()">
                  <div *ngIf="!loading">Login</div>
                  <ion-spinner *ngIf="loading"></ion-spinner>
                </ion-button>
              </ion-col>
            </ion-row>
            <div *ngIf="false">
              <ion-row>
                <ion-col size="12">
                  <ion-button [disabled]="loadingFake" (click)="loginFake()">
                    <div *ngIf="!loadingFake">Login fake</div>
                    <ion-spinner *ngIf="loadingFake"></ion-spinner>
                  </ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-select [(ngModel)]="target" value="_system" placeholder="Select target">
                  <ion-select-option value="_system">_system</ion-select-option>
                  <ion-select-option value="_self">_self</ion-select-option>
                  <ion-select-option value="_blank">_blank</ion-select-option>
                </ion-select>
              </ion-row>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>