.center {
    height: 800px;
    width: 546px;
}

ion-grid {
    &.center-grid {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        display: block !important;
        width: 100%;
    }
}

ion-card {
    background-color: #dfd81400;
    box-shadow: none;
    border-radius: 25px;

}

.ion-card-content {

    align-items: center;
    display: flex;
    flex-direction: column;
}

.link-container {
    font-size: 12pt;
    margin: auto;
    margin-bottom: 26px;
    color: #2D2D2D;

    .link {
        margin-left: 10px;
        color: rgb(62, 126, 245);
    }
}

.item-input {
    margin: auto;
}

.login-button-container {
    margin-bottom: 10px!important;
    max-width: 430px;
    margin: auto;
}

.login-button {
    width: 100%;
    text-transform: inherit;
    --border-radius: 10px;
    height: 50px;
    font-size: 12pt;
    --color: #e3e3e3;
    --background: #3B3F4C;
}

.content-item {
    .edit-msg-icon-container {
        display: flex;
        width: 25%;
        color: #2D2D2D;
    }

    ion-label {
        font-size: 16pt;
        color: #2D2D2D;
        margin-bottom: 14px;
        font-weight: 500;
    }
}

.input-container {
    margin-bottom: 10px;
    max-width: 430px;

    .input {
        border: 1px solid #7a7a7a;
        border-radius: 8px;
        padding: 4px !important;
        padding-left: 12px !important;
        margin-bottom: 6px;
        pointer-events: visible !important;
    }

    .input[type="email"] {
        pointer-events: none !important;
    }
}