<ion-content scrollY="false" [fullscreen]="true">
  <ion-grid class="center-grid">
    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-text-center ion-align-self-stretch">
          <ion-card-header>
            <meli-logo></meli-logo>
          </ion-card-header>
          <ion-card-content>
            <ion-list class="content-item" lines="none">
              <form [formGroup]="formGroup">
                <ion-item lines="none" class="input-container">
                  <ion-input size="12" formControlName="email" class="input" type="email" [clearInput]="true"
                    placeholder="Digite seu e-mail"></ion-input>
                  <!-- <label class="feedback-validation" *ngIf="emailInvalid()">Endereço de e-mail inválido.</label> -->
                </ion-item>
                <ion-item lines="none" class="input-container">
                  <app-show-hide-password class="input">
                    <ion-input formControlName="password" type="password" placeholder="Digite sua senha"></ion-input>
                  </app-show-hide-password>
                  <!-- <label class="feedback-validation" *ngIf="passwordInvalid()">Este campo é obrigatório</label> -->
                </ion-item>
                <ion-item class="login-button-container">
                  <ion-button [disabled]="loading || formInvalid()" (click)="login()" class="login-button" expand="block">
                    <div *ngIf="!loading">Acessar</div>
                    <ion-spinner *ngIf="loading"></ion-spinner>
                  </ion-button>
                </ion-item>
                <ion-item>
                  <ion-row class="link-container">
                    <label class="link" (click)="recoveryPassword()">Esqueci minha senha</label>
                  </ion-row>
                </ion-item>
              </form>
            </ion-list>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer lines="none" class="ion-no-border">
  <ion-item>
    <ion-row class="link-container">
      <ion-label>Não tem conta?</ion-label> <label class="link" (click)="signup()">Cadastre-se agora</label>
    </ion-row>
  </ion-item>
</ion-footer>