<ion-header no-border>
  <div class="asm-header">
    <ion-grid>
      <ion-row>
        <ion-col>
          <!--<ion-icon (click)="previousStep()" role="button" name="arrow-back-outline"></ion-icon>-->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-icon class="steps" src="assets/icon/steps/step4.svg"></ion-icon>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label class="title">Vincule sua conta do Mercado Livre</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="description">
          <ion-row>
            <ion-label class="ion-text-wrap">Este passo é necessário para que você possa utilizar nossa
              ferramenta.</ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-header>
<ion-content [scrollY]="true">
  <ion-list class="content-item" lines="none">
    <form slot="fixed" [formGroup]="formGroup">
      <div *ngIf="error">
        <ion-item lines="none" class="link-account-button-container">
          <ion-label class="error-message">{{errorMessage || 'Houve um erro ao tentar vincular a conta do mercado livre.'}}</ion-label>
        </ion-item>
      </div>
      <div *ngIf="sync">
        <ion-item lines="none" class="link-account-button-container ">
          <ion-button [disabled]="true" (click)="syncAccount()" class="link-account-button sync" expand="block">
            Conta vinculada
            <ion-icon slot="end" name="checkmark-outline"></ion-icon>
          </ion-button>
          
        </ion-item>
      </div>
      <ng-container *ngIf="!sync">
        <ion-item lines="none" class="link-account-button-container">
          <ion-button (click)="syncAccount()" class="link-account-button" expand="block">Vincular conta</ion-button>
        </ion-item>
        <ion-item lines="none">
          <ion-label (click)="createMeliAccount()" class="link-account-label">Não tenho conta no Mercado Livre</ion-label>
        </ion-item>
      </ng-container>
    </form>
  </ion-list>
</ion-content>