<ion-header no-border>
  <div class="asm-header">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-icon *ngIf="!isSignup" (click)="goBack()" role="button" name="arrow-back-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isSignup">
        <ion-icon class="steps" src="assets/icon/steps/step3.svg"></ion-icon>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-title><b>Confirme seu email</b></ion-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="description">
          <ion-row *ngIf="!email">
            <ion-label class="ion-text-wrap">Verifique o código que foi enviado para o seu email.</ion-label>
          </ion-row>
          <ion-row *ngIf="email">
            <ion-label class="ion-text-wrap">Verifique o código que foi enviado para o email "<b>{{email}}</b>"</ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-header>
<ion-content scrollY="true">
  <ion-list class="content-item" lines="none">
    <form [formGroup]="formGroup">
      <ion-item lines="none" class="item-background-color">
        <ion-label position="stacked">Digite o código de verificação</ion-label>
        <ion-input placeholder="Insira o código" clearInput="true" class="input" type="text" formControlName="code"
          [minlength]="6" [maxlength]="6"></ion-input>
      </ion-item>
      <ion-item lines="none" class="item-background-color mb-0">
        <ion-button (click)="sendEmailConfirmationCode()" [disabled]="!resendEnabled" class="resend-code-buttom" expand="block">
          <ion-spinner *ngIf="loading['resendcode']; else labelresend" name="crescent"></ion-spinner>
          <ng-template #labelresend>
            Reenviar código
          </ng-template>
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="count-resend">{{getTimeLeft()}}</ion-label>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
<ion-footer lines="none" class="ion-no-border">
  <ion-item lines="none" class="continue-buttom-container">
    <ion-button (click)="confirmEmail()" [disabled]="formInvalid()" class="continue-buttom" expand="block">
      <ion-spinner *ngIf="loading['confirm']; else label" name="crescent"></ion-spinner>
      <ng-template #label>
        Confirmar
      </ng-template>
    </ion-button>
  </ion-item>
  <ion-item *ngIf="showLogout" lines="none">
    <ion-label (click)="logout()" class="link-account-label">Encerrar a sessão.</ion-label>
  </ion-item>

</ion-footer>