<ion-header no-border>
  <div class="asm-header">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-icon (click)="goBack()" role="button" name="arrow-back-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-icon class="steps" src="assets/icon/steps/step1.svg"></ion-icon>
      </ion-row>
      <ion-row>
        <ion-col><ion-title><b>Crie sua conta</b></ion-title></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="description">
          <ion-label class="ion-text-wrap">Use seu melhor e-mail</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-header>
<ion-content scrollY="true">
  <ion-list class="content-item" lines="none">
    <form [formGroup]="formGroup">
      <ion-item lines="none" class="item-background-color">
        <ion-label position="stacked">Qual o seu e-mail?</ion-label>
        <ion-input class="input" type="email" [clearInput]="true" placeholder="Digite seu e-mail" formControlName="email"></ion-input>
        <label class="feedback-validation" *ngIf="emailInvalid()">Endereço de e-mail inválido.</label>
      </ion-item>
    </form>
  </ion-list>

</ion-content>