ion-header::after {
  background-image: none;
}

ion-title,
ion-label {
  color: #2D2D2D
}

.main-spinner-container {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .main-spinner {
    margin: auto;
    color: #424242;
    width: 34px;
    scale: 1.4;
    height: 40px;
  }
}

.main-logo-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  //background: var(--ml-yellow);
  background: var(--background-gray);
  

  .logo {
    margin: auto;
    margin-bottom: 0px;
  }

  .main-spinner {
    margin: auto;
    margin-top: 10px;
    color: #424242;
    margin-top: 30px;
  }
}