<ion-header no-border>
  <div class="asm-header">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-icon (click)="goBack()" role="button" name="arrow-back-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-title><b>Assinatura</b></ion-title></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="description-configuration">
          <ion-label class="ion-text-wrap">Veja suas informações de assinatura e cobrança</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item (click)="showSubscripeInfo()" class="border-start item-background-color">
      <ion-col size="4">
        <ion-label class="item-settings-label">Plano atual</ion-label>
      </ion-col>
      <ion-col>
        <ion-label class="item-setting-value ion-text-wrap">
          <ng-container *ngIf="loading['info']; else labelPlan">
            <skeleton-text [innerStyle]="'float: right'"></skeleton-text>
          </ng-container>
          <ng-template #labelPlan>
            {{subscription?.subscriptionPlan?.name}}
          </ng-template>
        </ion-label>
      </ion-col>
    </ion-item>
    <div class="horizontal-line"></div>
    <ion-item class="item-background-color">
      <ion-col size="2">
        <ion-label class="item-settings-label">Preço</ion-label>
      </ion-col>
      <ion-col>
        <ion-label class="item-setting-value ion-text-wrap">
          <ng-container *ngIf="loading['info']; else labelPrice">
            <skeleton-text [innerStyle]="'float: right'"></skeleton-text>
          </ng-container>
          <ng-template #labelPrice>{{getFormattedPrice()}}</ng-template>
        </ion-label>
      </ion-col>
    </ion-item>
    <div class="horizontal-line"></div>
    <ion-item class="item-background-color">
      <ion-col size="6">
        <ion-label class="item-settings-label">Forma de pagamento</ion-label>
      </ion-col>
      <ion-col>

        <ion-label class="item-setting-value">
          <ng-container *ngIf="loading['info']; else labelMethod">
            <skeleton-text [innerStyle]="'float: right'"></skeleton-text>
          </ng-container>
          <ng-template #labelMethod>
            <div class="mpago-container">
              <!-- <ion-icon name="mpago" src="assets/icon/mpago.svg"></ion-icon> -->
              <img src="assets/icon/mpago.png" />
              <label>Mercado Pago</label>
            </div>
          </ng-template>

        </ion-label>
      </ion-col>
    </ion-item>

    <div class="horizontal-line"></div>
    <ion-item class="item-background-color">
      <ion-col size="6">
        <ion-label class="item-settings-label">Sua próxima cobrança</ion-label>
      </ion-col>
      <ion-col>
        <ion-label class="item-setting-value">
          <ng-container *ngIf="loading['info']; else labelExpire">
            <skeleton-text [innerStyle]="'float: right'"></skeleton-text>
          </ng-container>
          <ng-template #labelExpire>
            {{getDate(subscription?.expireIn)}}
          </ng-template>
        </ion-label>
      </ion-col>
    </ion-item>
    <div class="horizontal-line"></div>
    <ion-item class="item-background-color">
      <ion-col size="6">
        <ion-label class="item-settings-label">Último pagamento</ion-label>
      </ion-col>
      <ion-col>
        <ion-label class="item-setting-value">
          <ng-container *ngIf="loading['info']; else labelLast">
            <skeleton-text [innerStyle]="'float: right'"></skeleton-text>
          </ng-container>
          <ng-template #labelLast>
            {{getDate(subscription?.lastPayment)}}
          </ng-template>
        </ion-label>
      </ion-col>
    </ion-item>
    <div class="horizontal-line"></div>
    <ion-item class="last-item item-background-color border-end" [routerLink]="'payment-history'">
      <ion-col>
        <ion-label class="item-settings-label-bold">Histórico de pagamentos</ion-label>
      </ion-col>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item class="border-start border-end item-background-color delete-account-container">
      <ion-label>
        <ion-label class="pay-help-container-container">
          <b *ngIf="!expired">Pagamento antecipado</b>
          <div class="pay-help-container">
            <ion-icon id="click-trigger" name="help-circle-outline"></ion-icon>
            <ion-popover trigger="click-trigger" triggerAction="click">
              <ng-template>
                <ion-content class="ion-padding">
                  Ao fazer um pagamento antecipado, o tempo será somado com o já existente.
                </ion-content>
              </ng-template>
            </ion-popover>
          </div>
          
          <b *ngIf="expired">Parece que seu plano expirou</b>
        </ion-label>
        <p *ngIf="!expired">Faça um pagamento antecipado para garantir o serviço sem interrupções.</p>
        <p *ngIf="expired">Continue com o pagamento mensal.</p>
        <div class="pay-button-container">
          <button [disabled]="loading['pay']" (click)="pay(!expired)" class="pay-account-button">
            <div *ngIf="!loading['pay']" class="text-pay-container">
              <img class="mpago-icon" src="assets/icon/mpago.png">
              <label>Pagar com mercado pago</label>
            </div>
            <ion-spinner *ngIf="loading['pay']"></ion-spinner>
          </button>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>