.image-container {

    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat, no-repeat;    
    height: 100%;
    border-radius: 200px;
    background-color: #e5e5e5;
}