ion-list {
    margin-top: 50%;
    margin-bottom: 50%;
}

.paybutton-container {
    margin: auto;
}

.paybutton {
    padding: 16px;
    width: 200px;
    background-color: #424242;
    color: white;
    height: 50px;
    text-align: center;
    font-size: 10pt;
    margin: auto;
    text-decoration: none;
    border-radius: 10px;
}

.logout {
    width: 200px;
    text-align: center;
    font-size: 10pt;
    margin: auto;
    text-decoration-line: underline;
    color: black;
}