<ion-header no-border>
  <ion-grid>
    <ion-row class="image">
      <ion-col>
        <vendly-logo [innerStyle]="'width: 120px'"></vendly-logo>
      </ion-col>
    </ion-row>
    <ion-row class="title">
      <ion-col>
        <ion-title>Seu plano expirou</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-label>Ops, parece que seu plano expirou.
        Continue com o plano mensal e não deixe seus clientes esperando.</ion-label>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content lines="none">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pagamento mensal</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-label class="cash">
          <skeleton-text *ngIf="loading; else priceLabel"  [innerStyle]="'width: 100px; height: 22px;'"></skeleton-text>
          <ng-template #priceLabel>
            R$ {{paymentLinkResponse.price}}
          </ng-template>
        </ion-label>
      </ion-row>
      <ion-row>
        <ion-label>Pague com o dinheiro em conta do Mercado Pago ou cartão.</ion-label>
      </ion-row>

    </ion-card-content>
    <div class="card-footer">
      <a target="_blank" class="paybutton" [href]="paymentLinkResponse.init_point">
        <div class="text-pay-container">
          <img class="mpago-icon" src="assets/icon/mpago.png">
          <label>Pagar com mercado pago</label>
        </div>
      </a>
    </div>
  </ion-card>

</ion-content>
<ion-footer *ngIf="false" lines="none" class="ion-no-border">
  <label>Deseja utilizar outra conta? </label>
  <label (click)="logout()" class="link">Encerrar sessão.</label>
</ion-footer>