<ion-header no-border>
  <div class="asm-header">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-icon (click)="previousStep()" role="button" name="arrow-back-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-icon class="steps" src="assets/icon/steps/step2.svg"></ion-icon>
      </ion-row>
      <ion-row>
        <ion-col><ion-title><b>Conte-nos sobre você</b></ion-title></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-header>
<ion-content scrollY="true">
  <ion-list class="content-item" lines="none">
    <form [formGroup]="formGroup">
      <ion-item lines="none" class="item-background-color">
        <ion-label position="stacked">Onde você mora?</ion-label>
        <ion-select interface="popover" #selectCountry class="select" formControlName="country">
          <ion-select-option *ngFor="let country of countries"
            [value]="country.code">{{country.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" class="item-background-color">
        <ion-label position="stacked">Qual o seu nome?</ion-label>
        <ion-input class="input" type="text" placeholder="Digite seu nome" formControlName="firstName"></ion-input>
      </ion-item>
      <ion-item lines="none" class="item-background-color">
        <ion-label position="stacked">Sobrenome</ion-label>
        <ion-input class="input" type="text" placeholder="Digite seu sobrenome" formControlName="lastName"></ion-input>
      </ion-item>
    </form>
  </ion-list>
</ion-content>